.root {
    colorPrim0: #303234; 
    colorPrim1: #4C5263;
    colorPrim2: #41444D;
    colorPrim3: #30333A;
    colorPrim4: #262A34;

    colorCompl0: #4E4C47;
    colorCompl1: #93876D;
    colorCompl2: #736C5E;
    colorCompl3: #575145;
    colorCompl4: #4E4636;

    textColor: #cccccc;
    textColorAlt: #9D9D9D;
}

*{
    -fx-background-color: colorPrim0;
    -fx-text-fill: textColor;
}

.big{
    -fx-font-size: 16pt;
}
/*
    colorpalette: http://paletton.com/#uid=23N0u0k3V4WaYgf7Lb1ac80gJaQ
*/

.button, .label, .choice-box, .slider {
    -fx-text-fill: textColor;
}

.button {
    -fx-background-color: colorPrim2;
}
.button:hover {
    -fx-background-color: colorPrim1;
}

choice-box >* {
    -fx-background-color: colorPrim2;
}

.slider .axis {
    -fx-tick-label-fill: colorPrim3;
}

.slider .track {
    -fx-background-color: colorPrim2;
}

.slider .thumb {
    -fx-background-color: colorPrim1
}



/*menus and menu items:*/


.menu-bar,
.menu-bar > .container {
    -fx-background-color: colorPrim2;
    -fx-text-fill: textColorAlt;
    -fx-border-width: 2.0;
}


.menu-button,
.menu-button > .label {
    -fx-background-color: colorPrim2;
    -fx-text-fill: textColorAlt;
}

.menu-button:hover,
.menu-button:hover > .label {
    -fx-background-color: colorPrim1;
    -fx-text-fill: textColor;
}

.menu-button:focused,
.menu-button:focused > .label {
    -fx-background-color: colorPrim1;
}

.menu-item,
.menu-item > .label {
    -fx-background-color: colorPrim3;
    -fx-text-fill: textColorAlt;
}
.menu-item:hover,
.menu-item:hover > .label {
    -fx-background-color: colorPrim1;
    -fx-text-fill: textColor;
}

.context-menu {
    -fx-background-color: colorPrim3;
}
.separator .line {
    -fx-background-color: colorPrim1;
    -fx-pref-height: 1;
    -fx-border-color: null ;
}

